<!DOCTYPE html>
<html>
{{template "header.tmpl.html"}}
<body>
  {{template "navbar.tmpl.html"}}
  <div class="container">
    <div class="title">
      <div class="beerName">
        <h1>{{.current.Name}}</h1> <a href="#" data-toggle="modal" data-target="#showBeer"><i class="fa fa-info-circle"></i></a>
      </div>
      <div class="breweryName">
        <h2>{{.current.Brewery}}</h2>
      </div>
    </div>
    <div class="swipe">
      <div class="image"><div class="avatar display"></div></div>
      <input class="url" type="hidden" name="name" value={{.current.URL}}>
      <div id="beer"><div class="avatar beerImage"><div class="status dislike">Dislike!</div><div class="status like">Like!</div></div></div>
    </div>
    <div class="buttons">
      <input class='btn btn-danger btns dislikeButton' type="button" name="name" value="Dislike">
      <input class='btn btn-success btns likeButton' type="button" name="name" value="Like">
      <input type="hidden" class="currentTimestamp" value={{.current.Timestamp}}>
    </div>
  </div>
  <div class="modal fade" id="beerList" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Beer List</h4>
        </div>
        <div class="modal-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>
                  Name
                </th>
                <th>
                  Brewery
                </th>
                <th>
                  Style
                </th>
                <th>
                  Alcohol
                </th>
                <th>
                  <i class="fa fa-thumbs-up"></i>
                </th>
                <th>
                  <i class="fa fa-thumbs-down"></i>
                </th>
                <th>

                </th>
                <th>

                </th>
              </tr>
            </thead>
            <tbody>
              {{ $length := len .beers }}
              {{if eq $length 0}}
                <tr>
                  <td>
                    No Beers Added
                  </td>
                </tr>
              {{else}}
                {{range $key, $beer := .beers}}
                  <tr>
                    <td>
                      {{$beer.Name}}
                    </td>
                    <td>
                      {{$beer.Brewery}}
                    </td>
                    <td>
                      {{$beer.Style}}
                    </td>
                    <td>
                      {{$beer.Alcohol}} %
                    </td>
                    <td>
                      {{$beer.Up}}
                    </td>
                    <td>
                      {{$beer.Down}}
                    </td>
                    <td>
                      <form action="/currentBeer" method="post">
                        <input type="hidden" name="time" value={{$beer.Timestamp}}>
                        <button type="submit" class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
                      </form>
                      <button data-toggle="modal" data-target={{print "#edit" $beer.Timestamp}} class="editBeer btn btn-info btn-xs"><i class="fa fa-edit"></i></button>
                      <form action="/deleteBeer" method="post">
                        <input type="hidden" name="time" value={{$beer.Timestamp}}>
                        <button type="submit" class="btn btn-danger btn-xs" ><i class="fa fa-trash-o"></i></button>
                      </form>
                    </td>
                  </tr>
                {{end}}
              {{end}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="newBeer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Add a Beer</h4>
        </div>
        <div class="modal-body">
          <form class="newBeerForm form-horizontal" action="/addBeer" method="post">
            <div class="form-group">
              <label for="name" class="col-sm-2 control-label">Name</label>
              <div class="col-sm-10">
                <input type="text" name="name" class="verifyName form-control" id="name" >
              </div>
            </div>
            <div class="form-group">
              <label for="brewery" class="col-sm-2 control-label">Brewery</label>
              <div class="col-sm-10">
                <input type="text" name="brewery" class="verifyBrewery form-control" id="brewery">
              </div>
            </div>
            <div class="form-group">
              <label for="style" class="col-sm-2 control-label">Style</label>
              <div class="col-sm-10">
                <input type="text" name="style" class="form-control" id="style">
              </div>
            </div>
            <div class="form-group">
              <label for="alcohol" class="col-sm-2 control-label">Alcohol</label>
              <div class="col-sm-10">
                <input type="number" step="any" min="0" name="alcohol" class="form-control" id="alcohol">
              </div>
            </div>
            <div class="form-group">
              <label for="url" class="col-sm-2 control-label">Image Url</label>
              <div class="col-sm-10">
                <input type="text" name="url" class="form-control" id="url">
              </div>
            </div>
            <div class="form-group">
              <label for="description" class="col-sm-2 control-label">Description</label>
              <div class="col-sm-10">
                <textarea name="description" rows="8" cols="40" class="form-control" id="description"></textarea>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Brew!</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  {{range $key, $beer := .beers}}
    <div class="modal fade" id={{print "edit" $beer.Timestamp}} tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Edit Beer</h4>
          </div>
          <div class="modal-body">
            <form class="form-horizontal" action="/editBeer" method="post">
              <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                  <input class="beerName verifyEditName form-control" type="text" name="name" id="name" value={{$beer.Name}} >
                </div>
              </div>
              <div class="form-group">
                <label for="brewery" class="col-sm-2 control-label">Brewery</label>
                <div class="col-sm-10">
                  <input class="beerBrewery verifyEditBrewery form-control" type="text" name="brewery" value={{$beer.Brewery}} id="brewery">
                </div>
              </div>
              <div class="form-group">
                <label for="style" class="col-sm-2 control-label">Style</label>
                <div class="col-sm-10">
                  <input class="beerStyle form-control" type="text" name="style" value={{print $beer.Style " "}} id="style">
                </div>
              </div>
              <div class="form-group">
                <label for="alcohol" class="col-sm-2 control-label">Alcohol</label>
                <div class="col-sm-10">
                  <input class="beerAlcohol form-control" type="number" step="any" min="0" name="alcohol" value={{$beer.Alcohol}} id="alcohol">
                </div>
              </div>
              <div class="form-group">
                <label for="url" class="col-sm-2 control-label">Image Url</label>
                <div class="col-sm-10">
                  <input type="text" name="url" class="form-control" value={{print $beer.URL " "}} id="url">
                </div>
              </div>
              <div class="form-group">
                <label for="alcohol" class="col-sm-2 control-label">Description</label>
                <div class="col-sm-10">
                  <textarea name="description" rows="8" cols="40" class="form-control">{{$beer.Description}}</textarea>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <input type="hidden" name="time" value="{{$beer.Timestamp}}">
                  <button type="submit" class="btn btn-default">Re-Brew!</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  {{end}}
  <div class="modal fade" id="showBeer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">{{.current.Name}}</h4>
        </div>
        <div class="modal-body">
          <table class="beerInformation">
            <tr>
              <td>
                <div class="infoLabel">Brewery </div>
              </td>
              <td>
                {{.current.Brewery}}
              </td>
              <td>

              </td>
              <td>

              </td>
            </tr>
            <tr>
              <td>
                <div class="infoLabel">Style</div>
              </td>
              <td>
                {{if .current.Style}}
                  {{.current.Style}}
                {{else}}
                  n/a
                {{end}}
              </td>
              <td>
                <div class="infoUp">
                  <i class="fa fa-thumbs-up"></i> {{.current.Up}}
                </div>
              </td>
              <td>
                <div class="infoDown">
                  <i class="fa fa-thumbs-down"></i> {{.current.Down}}
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="infoLabel">Alcohol</div>
              </td>
              <td>
                {{if .current.Alcohol}}
                  {{.current.Alcohol}}%
                {{else}}
                  n/a
                {{end}}
              </td>
            </tr>
          </table>
          <div class="info">
            <div class="row">
              <div class="col-md-12">
                <p class="infoLabel">
                  Info:
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                {{if .current.Description}}
                  {{.current.Description}}
                {{else}}
                  none
                {{end}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
