<!DOCTYPE html>
<html>
  {{template "header.tmpl.html"}}
<body>
  {{template "navbar.tmpl.html"}}
  <div class="container">
    <div class="swipe">
      <div class="image"><div class="avatar display"></div></div>
      <div class="beer"><div class="avatar beerImage"><div class="status dislike">Dislike!</div><div class="status like">Like!</div></div></div>
    </div>
    <div class="buttons">
      <input class='btn btn-danger btns dislikeButton' type="button" name="name" value="Dislike">
      <input class='btn btn-warning btns likeButton' type="button" name="name" value="Like">
    </div>
  </div>
</body>
</html>
